{
    "experimentalOperatorPosition": "start",
    "printWidth": 90,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": false,
    "objectWrap": "collapse",
    "bracketSameLine": false,
    "endOfLine": "lf",

    "plugins": ["prettier-plugin-css-order", "@trivago/prettier-plugin-sort-imports"],

    "cssDeclarationSorterOrder": "concentric-css",
    "cssDeclarationSorterKeepOverrides": false,

    "importOrderSeparation": true
}
