{
    "experimentalTernaries": false,
    "experimentalOperatorPosition": "start",
    "printWidth": 90,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": false,
    "objectWrap": "collapse",
    "bracketSameLine": false,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf",
    "singleAttributePerLine": false,

    "plugins": ["prettier-plugin-css-order", "@trivago/prettier-plugin-sort-imports"],

    "cssDeclarationSorterOrder": "concentric-css",
    "cssDeclarationSorterKeepOverrides": false,

    "importOrderSeparation": true
}
